{% extends 'main.html' %}

{% block tytul %} Asystent zielarza - Home {% endblock %}
{% block content %}

<div class="boxTemp">
    {% if user.is_authenticated %}
        Witaj {{ user.username }}!
        <a href="{% url 'logout' %}">Wyloguj</a>
    {% else %}
        <a href="{% url 'login' %}">Zaloguj</a>
    {% endif %}
</div>



{% endblock %}