{% extends 'main.html' %}

{% block tytul %} Wszystkie mieszanki {% endblock %}
{% block content %}
    {% if lista|length == 0 %}
    <h2>Brak mieszanek</h2>
    <p><a href="{% url 'mieszanki' %}">Powrót</a></p>
    
    {% else %}
    <div class="boxTemp">
        <table>
        {% for mieszanka in lista %}  
        <tr> 
        <td>
          <span title='{{ mieszanka }}' data-toggle="popover" data-trigger="focus" data-bs-html="true" data-bs-content="
            {% if mieszanka.opis|length == 0 %}
              brak
            {% else %}
            <b>Opis:</b><br>
              {{ mieszanka.opis }}
              <br><br>
              <b>Składniki:</b><br>
              {% for skladnik in mieszanka.skladniki.all|dictsort:'nazwa' %}
                {{ skladnik }} <br>
              {% endfor %}
            {% endif %} ">
            {{ mieszanka }}
          </span>
        </td>        
        <td><a href="{% url 'edytuj' mieszanka.id %}" class="btn btn-primary btn-sm" role="button">Edytuj</a></td>
        <td><a href="{% url 'usun' mieszanka.id %}" class="btn btn-dark btn-sm" role="button" onclick="return confirm('Czy napewno usunąć {{ mieszanka }}?')" >Usuń</a></td>
        </tr>
        {% endfor %}
        </table>
    </div>   
    <div class="boxTemp">
      <h2>Ilość mieszanek: {{ lista|length }}</h2>  
      <p><a href="{% url 'nowy' %}" class="btn btn-primary" role="button">Dodaj nową mieszankę</a></p>
      <p><a href="{% url 'ziola' %}">Zioła</a></p>            
  </div>    
  <div class="boxTemp">
    <form class="form-inline my-2 my-lg-0">
      <input class="required form-control mr-sm-2" type="search" placeholder="Wyszukaj składniki" aria-label="Search" name="search" value="{{search}}">
      <button class="toggle-disabled btn btn-outline-success my-2 my-sm-0" type="submit" disabled="disabled">Wyszukaj</button>  
      <input type="reset" value="Wyczyść" class="btn btn-outline-success" onclick="$('.toggle-disabled').prop('disabled', true)">
    </form>
  </div> 
    {% endif %} 
    <script>
      $(function () {
          $('[data-toggle="popover"]').popover();
      });
      $('html').on('click', function (e) {
          $('[data-toggle="popover"]').each(function () {
              if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                  $(this).popover('hide');
              }
          });
      });
      
      
      $(document).on('change keyup', '.required', function(e){
        let Disabled = true;
          $(".required").each(function() {
            let value = this.value
            if ((value)&&(value.trim() !=''))
                {
                  Disabled = false
                }else{
                  Disabled = true
                  return false
                }
          });        
        if(Disabled){
              $('.toggle-disabled').prop("disabled", true);
            }else{
              $('.toggle-disabled').prop("disabled", false);
            }
      })
    </script>
{% endblock %}
