{% extends 'main.html' %}
{% load bootstrap %}

{% block tytul %} Dodaj/edytuj mieszankę {% endblock %}
{% block content %}
<form enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form|bootstrap}}
    <button type="submit">Zapisz</button>
    <a href="{% url 'mieszanki' %}">Cofnij</a>
</form>
{% endblock %}