{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'style.css' %}">
</head>
<body>
    {% if ziola|length == 0 %}
    <h2>Brak ziół</h2>
    {% else %}    
        <h2>Ilość ziół: {{ ziola|length }}</h2>
        {% for ziolo in ziola %}
        <p>{{ ziolo.nazwa }}</p>   
        {% endfor %}
    {% endif %}    
</body>
</html>