{% extends 'main.html' %}

{% block tytul %} Wszystkie zioła {% endblock %}
{% block content %}
    {% if lista|length == 0 %}
    <h2>Brak ziół</h2>
    {% else %}    
        <h2>Ilość ziół: {{ lista|length }}</h2>
        <p><a href="{% url 'n' %}">Dodaj nowy</a></p>
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-warning">
                    {{ message.tags }} {{ message }}
                </div>
             {% endfor %}
        {% endif %}
        <table>
        {% for ziolo in lista %}
        
        <tr>
            <td><span title='{{ ziolo.nazwa }}' data-toggle="popover" data-trigger="focus" data-bs-content='{% if ziolo.opis|length == 0 %}brak{% else %}{{ ziolo.opis }}{% endif %} '>{{ ziolo.nazwa }}</span></td>
            <td><a href="{% url 'e' ziolo.id %}">Edytuj</a></td>
            <td><a href="{% url 'u' ziolo.id %}" onclick="return confirm('Czy napewno usunąć {{ ziolo.nazwa }}?')" >Usuń</a></td>
        </tr>   
        {% endfor %}
        </table>
    {% endif %} 
      
      <script>
        $(function () {
            $('[data-toggle="popover"]').popover();
        });
        $('html').on('click', function (e) {
            $('[data-toggle="popover"]').each(function () {
                if (!$(this).is(e.target) && $(this).has(e.target).length === 0 && $('.popover').has(e.target).length === 0) {
                    $(this).popover('hide');
                }
            });
        });  
        
        $('.alert').delay(2000).fadeOut(400)
      </script>
{% endblock %}
