{% extends 'main.html' %}

{% block tytul %} Asystent zielarza - logowanie {% endblock %}
{% block content %}
    <div class="box">
        <h2>Login</h2>
        <form method="post">
            {% csrf_token %}
            <div class="inputBox">
                <input type="text" id="id_username" name="username" required="">
                <label>Nazwa użytkownika</label>
            </div>
            <div class="inputBox">
                <input type="password" id="id_password" name="password" required="">
                <label>Hasło</label>
            </div>
            {% if form.errors %}
            <p class="loginError">
                Coś poszło nie tak...
            </p>
            {% endif %}
            <input type="submit" name="" value="Zaloguj">
        </form>
    </div>
{% endblock %}